body{
    text-align: center;

}

.btn{
    height: 200px;
    width: 200px;
    border: 10px solid black;
    border-radius: 20%;
    margin: 2rem;
}

.btn-container{
    display: flex;
    justify-content: space-between;
}

.yellow{
    background-color: rgb(254, 254, 129);
}
.red{
    background-color: rgb(246, 133, 133);
}
.green{
    background-color: rgb(96, 236, 96);
}
.purple{
    background-color: #5e74f0;
}
.flaash{
    background-color: white;
}

.userFlash{
    background-color:rgb(106, 206, 196);
}